<ion-card>
  
</ion-card>
<ion-card>
  <section id="overview" class="ion-padding">
    <ion-row>
      <ion-col>
        <div #sliderRef class="keen-slider peek-slider">
          @for(p of detail.images; track $index ){
          <div class="keen-slider__slide">
            <img
              [src]="p.path"
              loading="lazy"
              decoding="async"
              fetchpriority="low"
              width="800"
              height="600"
              class="slide-img"
              alt="foto"
            />
          </div>
          }
        </div>
      </ion-col>
    </ion-row>
  </section>

  <section class="ion-padding">
    <section class="infoheader">
      <ion-row>
        <ion-col>
          <div class="flex flex-row justify-between items-center">
            <h2 class="">{{ detail?.price | currency }}</h2>
            <span>
              <ion-icon
                size="large"
                [name]="detail?.favorites ? 'heart' : 'heart-outline'"
                [color]="detail?.favorites ? 'danger' : undefined"
                (click)="toggleFav(detail, $event)"
              >
              </ion-icon>
            </span>
          </div>
        </ion-col>
      </ion-row>

      <div class="flex flex-col justify-between">
        <ion-row>
          <ion-col>
            <p>{{ detail?.title | uppercase }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Barrio: {{ detail?.neighborhood }} - {{ detail?.contrato }}</p>
          </ion-col>
        </ion-row>
      </div>

      <div class="flex flex-col justify-between">
        <h3>Descripción</h3>
        <p>
          {{ detail?.description }}
        </p>
        <ion-button class="mt-3" size="outline" shape="outline" color="primary"
          >Ver más</ion-button
        >
      </div>
    </section>

    <section id="features" class="caractesiticas">
      <h3>Características</h3>

      <div class="columns-2">
        <!-- METROS -->
        <div class="aspect flex items-center gap-2">
          <img
            width="40"
            class="imgDetalle"
            src="../../../assets/img/metro-cuadrado.png"
            alt="metro"
          />
          <div>
            <p class="font-semibold">Metros Cuarados</p>
            <p>{{ detail?.caracteristicas?.dimensiones }}m²</p>
          </div>
        </div>
        <!-- HABITACIONS -->
        <div class="aspect-square flex items-center gap-2">
          <img
            width="40"
            class="imgDetalle"
            src="../../../assets/img/habitacion.png"
            alt="#habitacion"
          />
          <div>
            <p class="font-semibold">Estrato</p>
            <p>{{ detail?.caracteristicas?.estrato }}</p>
          </div>
        </div>
      </div>

      <div class="columns-2 col2">
        <!-- HABITACIONS -->
        <div class="aspect flex items-center gap-2">
          <img
            width="40"
            class="imgDetalle"
            src="../../../assets/img/habitacion.png"
            alt="#habitacion"
          />
          <div>
            <p class="font-semibold"># Habitaciones</p>
            <p>{{ detail?.caracteristicas?.n_habitaciones }}</p>
          </div>
        </div>
        <!-- BAÑOS -->
        <div class="aspect-square flex items-center gap-2">
          <img
            width="40"
            class="imgDetalle"
            src="../../../assets/img/bano-publico.png"
            alt="baño"
          />
          <div>
            <p class="font-semibold"># Baños</p>
            <p>{{ detail?.caracteristicas?.n_banos }}</p>
          </div>
        </div>
      </div>

      <ion-accordion-group expand="inset" class="acordion">
        <ion-accordion value="mas">
          <ion-item slot="header">
            <ion-label>Ver más</ion-label>
          </ion-item>
          <div slot="content" class="ion-padding mt-5">
            <div class="columns-2 col2">
              <!-- SALA/COMEDOR -->
              <div class="aspect flex items-center gap-2">
                <img
                  width="40"
                  class="imgDetalle"
                  src="../../../assets/img/sala.svg"
                  alt="sala"
                />
                <div>
                  <p class="font-semibold">Sala/Comedor</p>
                  <p>{{ detail?.caracteristicas?.sala ? "SI" : "NO" }}</p>
                </div>
              </div>

              <!-- GARAJE -->
              <div class="aspect-square flex items-center gap-2">
                <img
                  width="40"
                  class="imgDetalle"
                  src="../../../assets/img/garaje.png"
                  alt="#habitacion"
                />
                <div>
                  <p class="font-semibold">Garaje</p>
                  <p>{{ detail?.caracteristicas?.garaje ? "SI" : "NO" }}</p>
                </div>
              </div>
            </div>

            <div class="columns-2 col2">
              <!-- ENTRADA INDEPENDIENTE -->
              <div class="aspect flex items-center gap-2">
                <img
                  width="40"
                  class="imgDetalle"
                  src="../../../assets/img/puerta.svg"
                  alt="baño"
                />
                <div>
                  <p class="font-semibold">Entrada independiene</p>
                  <p>
                    {{
                      detail?.caracteristicas?.entrada_independiente
                        ? "SI"
                        : "NO"
                    }}
                  </p>
                </div>
              </div>

              <!-- # PISO -->
              <div class="aspect-square flex items-center gap-2">
                <img
                  width="40"
                  class="imgDetalle"
                  src="../../../assets/img/subiendo.svg"
                  alt="#habitacion"
                />
                <div>
                  <p class="font-semibold"># Pisos</p>
                  <p>{{ detail?.caracteristicas?.n_piso }}</p>
                </div>
              </div>
            </div>

            <div class="columns-2 col2">
              <!-- ASENSOR -->
              <div class="aspect flex items-center gap-2">
                <img
                  width="40"
                  class="imgDetalle"
                  src="../../../assets/img/ascensor.svg"
                  alt="baño"
                />
                <div>
                  <p class="font-semibold">Asesor</p>
                  <p>{{ detail?.caracteristicas?.ascensor ? "SI" : "NO" }}</p>
                </div>
              </div>

              <!-- SEGUDIDAD PRIVADA -->
              <div class="aspect-square flex items-center gap-2">
                <img
                  width="40"
                  class="imgDetalle"
                  src="../../../assets/img/policia.svg"
                  alt="#habitacion"
                />
                <div>
                  <p class="font-semibold">Seguridad privada</p>
                  <p>
                    {{
                      detail?.caracteristicas?.conjunto_privado ? "SI" : "NO"
                    }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </section>

    <section id="map" class="zone">
      <h3>Ubicación</h3>
      <app-zone [dataMap]="detail?.location"></app-zone>
    </section>

    <section id="agent" class="anunciante">
      <h3>Información del anunciante</h3>
      <ion-card class="ion-padding">
        <img
          src="{{ urlBase }}storage/{{ detail?.agencies?.logo_path }}"
          [alt]="detail?.agencies?.name"
        />
        <ion-card-title class="ion-text-center">{{
          detail?.agencies?.name
        }}</ion-card-title>
        <ion-card-subtitle class="ion-text-center">{{
          detail?.agencies?.addrees
        }}</ion-card-subtitle>

        <ion-button expand="block" class="mt-3" shape="outline" color="primary"
          ><a
            href="https://wa.me/57{{
              detail?.agencies?.phone
            }}?text=Hola%20quiero%20saber%20má%20sobre%20la%20propiedad%20{{
              detail?.title
            }}"
            target="_blank"
            >Enviar mensaje
            <ion-icon name="logo-whatsapp"></ion-icon>
          </a>
        </ion-button>
      </ion-card>
    </section>

    <section id="more" class="mas">
      <app-more-post></app-more-post>
    </section>
  </section>
</ion-card>