@for(post of items; track post?.title){
<ion-card class="mt-6">
  <app-slider
    [routerLink]="['/detail', post?.id]"
    [items]="post?.images"
  ></app-slider>
  <ion-card-header class="ion-padding">
    <div>
      <ion-card-title>
        <div class="flex flex-row justify-between items-center">
          <p [routerLink]="['/detail', post?.id]">
            {{ post?.title }}
          </p>
          <span class="flex flex-row justify-between items-center">
            <ion-icon
              [name]="post?.favorites ? 'heart' : 'heart-outline'"
              [color]="post?.favorites ? 'danger' : undefined"
              (click)="toggleFav(post, $event)"
            >
            </ion-icon>
          </span>
        </div>
      </ion-card-title>
      <p class="text-lg">{{ post?.price | currency }}</p>
    </div>
  </ion-card-header>

  <ion-card-content>
    <div class="flex flex-row gap-2">
      <p class="text-lg font-medium">
        Barrio: <span>{{ post?.neighborhood }}</span>
      </p>
      |
      <p class="text-lg font-medium">{{ post?.contrato }}</p>
    </div>

    <div class="flex flex-column flex-wrap gap-2 mt-3">
      <ion-text class="textDetalle">
        <img
          width="20"
          class="imgDetalle"
          src="../../../assets/img/habitacion.png"
          alt="#habitacion"
        />
        {{ post?.caracteristicas?.n_habitaciones }}
      </ion-text>

      <ion-text class="textDetalle">
        <img
          width="20"
          class="imgDetalle"
          src="../../../assets/img/subiendo.png"
          alt="#pisos"
        />{{ post?.caracteristicas?.n_piso }}
      </ion-text>
      <ion-text class="textDetalle">
        <img
          width="20"
          class="imgDetalle"
          src="../../../assets/img/bano-publico.png"
          alt="bano"
        />{{ post?.caracteristicas?.n_banos }}</ion-text
      >
      <ion-text class="textDetalle">
        <img
          width="20"
          class="imgDetalle"
          src="../../../assets/img/garaje.png"
          alt="garaje"
        />{{ post?.caracteristicas?.garaje ? "Si" : "No" }}</ion-text
      >
    </div>
  </ion-card-content>
</ion-card>

}
