<h3>{{ title }}</h3>
<div
  #sliderRefCard
  class="keen-slider peek-slider"
  style="background: #cccccc42"
>
  @for (estate of data; track $index) {
  <ion-card class="keen-slider__slide mt-6">
    <div
      class="inner-gallery"
      (touchstart)="onInnerStart($event)"
      (touchmove)="onInnerMove($event)"
      (touchend)="onInnerEnd($event)"
      (touchcancel)="onInnerEnd($event)"
      (mousedown)="onInnerStart($event)"
      (mousemove)="onInnerMove($event)"
      (mouseup)="onInnerEnd($event)"
    >
      <div class="inner-track">
        @for (img of estate?.images || []; track $index) {
        <div class="inner-slide">
          <img [src]="img?.path || img" alt="foto" />
        </div>
        }
      </div>
    </div>

    <ion-card-header class="ion-padding">
      <div>
        <ion-card-title [routerLink]="['/detail', estate?.id]">
          <a class="flex flex-row justify-between items-center">
            {{ estate?.title }}
            <ion-icon name="heart-outline"></ion-icon>
          </a>
        </ion-card-title>
        <p class="text-lg">{{ estate?.price | currency }}</p>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="flex flex-row gap-2">
        <p class="text-lg font-medium">
          Barrio: <span>{{ estate?.neighborhood }}</span>
        </p>
        |
        <p class="text-lg font-medium">{{ estate?.contrato }}</p>
      </div>

      <div class="flex flex-row flex-wrap items-center gap-2 mt-3">
        <ion-text class="textDetalle">
          <img
            width="20"
            class="imgDetalle"
            src="../../../assets/img/habitacion.png"
            alt="#habitacion"
          />
          {{ estate?.caracteristicas?.n_habitaciones }}
        </ion-text>

        <ion-text class="textDetalle">
          <img
            width="20"
            class="imgDetalle"
            src="../../../assets/img/subiendo.png"
            alt="#pisos"
          />
          {{ estate?.caracteristicas?.n_piso }}
        </ion-text>

        <ion-text class="textDetalle">
          <img
            width="20"
            class="imgDetalle"
            src="../../../assets/img/bano-publico.png"
            alt="bano"
          />
          {{ estate?.caracteristicas?.n_banos }}
        </ion-text>

        <ion-text class="textDetalle">
          <img
            width="20"
            class="imgDetalle"
            src="../../../assets/img/garaje.png"
            alt="garaje"
          />
          {{ estate?.caracteristicas?.garaje ? "Si" : "No" }}
        </ion-text>
      </div>
    </ion-card-content>
  </ion-card>
  }
</div>
