.center-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: min(92%, 880px);
  margin: -110px auto 0; /* sube la card sobre el banner */
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.18);
  border-radius: 16px;
  text-align: center;
}
.mt1{
    margin-top: 1em;
}
