<ion-content [fullscreen]="true">
  <!-- HERO / BANNER -->
  <section class="hero">
    <!-- Contenido opcional del banner -->
    @if(hasLoggin){
    <ion-avatar class="login avatar" [routerLink]="['/profile']">
      <img [src]="picture | safeUrl" alt="Mi foto" width="50" height="50" />
    </ion-avatar>
    }@else{
    <ion-text class="login" color="white" [routerLink]="['/login']">
      Entrar
      <ion-icon
        class="colorIcon"
        size="large"
        [routerLink]="['/login']"
        name="person-circle-outline"
      ></ion-icon>
    </ion-text>
    }

    <div class="overlay"></div>
    <div class="title">
      <h1>Tu próximo hogar está más cerca de lo que imaginas.</h1>
      <p>Encuéntralo fácil, rápido y seguro.</p>
      <br />
    </div>

    <!-- Buscador superpuesto -->
    <ion-card class="search-card">
      <ion-card-content>
        <form [formGroup]="filterForm">
          <ion-searchbar
            formControlName="neighborhood"
            placeholder="Buscar por barrio"
            show-clear-button="focus"
          ></ion-searchbar>
          <br />
          <div>
            <ion-button
              class="w-70"
              (click)="buscar()"
              size="small"
              fill="outline"
            >
              Buscar
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </section>

  <!-- Contenido para filtro rapido (Venta, empeño, arrendo) -->
  <section class="results mt-4">
    <ion-grid>
      <ion-row>
        <ion-col
          [routerLink]="['/list']"
          [queryParams]="{ type: 'venta' }"
          class="text-center"
        >
          <div class="relative w-auto pl-4 flex-initial">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full btn-degradado"
            >
              <img class="w-10" src="../../../assets/icon/venta.svg" alt="" />
            </div>
          </div>
          <p class="text-lg font-medium">Ventas</p>
        </ion-col>
        <ion-col
          [routerLink]="['/list']"
          [queryParams]="{ type: 'arrendo' }"
          class="text-center"
        >
          <div class="relative w-auto pl-4 flex-initial">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full btn-degradado"
            >
              <img class="w-10" src="../../../assets/icon/arrendo.svg" alt="" />
            </div>
          </div>
          <p class="text-lg font-medium">Arrendos</p>
        </ion-col>
        <ion-col
          [routerLink]="['/list']"
          [queryParams]="{ type: 'empeño' }"
          class="text-center"
        >
          <div class="relative w-auto pl-4 flex-initial">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12"
            >
              <img src="../../../assets/icon/anticres.svg" alt="" />
            </div>
          </div>
          <p class="text-lg font-medium">Anticres</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <!-- Fin de seccion -->

  <app-map (zoneSelected)="onZoneSelected($event)"></app-map>

  <section class="results2">
    <app-recient-estes></app-recient-estes>
  </section>

  <section class="results2 mt-4">
    <ion-card class="custom-card">
      <div class="card-image">
        <div class="overlay-text">
          Encuentra tu casa ideal en segundos,<br />
          sin filas ni trámites,<br />
          todo rápido y en línea.
          <br />
          <ion-button size="small" color="primary">
            <a
              href="https://wa.me/573184690679?text=Hola%20quiero%20saber%20más%20información 🏚️"
              target="_blank"
              style="color: #fff"
            >
              Saber más</a
            ></ion-button
          >
        </div>
        <div class="overlay"></div>
        <img src="../../../assets/img/muesrtacasa.jpg" alt="Casa ideal" />
      </div>
    </ion-card>
  </section>

  <!-- Ultims vistos -->

  <section class="results2">
    <ion-card class="custom-card">
      <div class="card-image">
        <div class="overlay-text">
          Tu tranquilidad es lo primero: procesos transparentes y seguros
          <br />
          en todo momento.
          <br />
          <ion-button size="small" color="primary">
            <a
              href="https://wa.me/573184690679?text=Hola%20quiero%20saber%20má%20información 🏚️"
              target="_blank"
              style="color: #fff"
            >
              Saber más</a
            ></ion-button
          >
        </div>
        <div class="overlay"></div>
        <img src="../../../assets/img/inmobiliaria.jpeg" alt="Casa ideal" />
      </div>
    </ion-card>
  </section>

  <section class="results2">
    <app-more-post [title]="'Conoce propiedades'"></app-more-post>
  </section>
</ion-content>